{% load static %}
<section class="menu-lateral">
  <nav class="menu-lateral__navegacao">
    <a href="{% url 'index' %}"
      ><img src="{% static '/assets/icones/1x/Home_ativo.png' %}" /> Home</a
    >
    <a href="#"
      ><img src="{% static '/assets/icones/1x/Mais_vistas_inativo.png' %}" />
      Mais vistas</a
    >
    <a href="#"
      ><img src="{% static '/assets/icones/1x/Novas_inativo.png' %}" /> Novas</a
    >
    <a href="#"
      ><img src="{% static '/assets/icones/1x/Surpreenda_me_inativo.png'%}" />
      Surpreenda-me</a
    >
  </nav>
</section>